[submodule "sources_forked/YouCompleteMe"]
	path = sources_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_forked/UltiSnips"]
	path = sources_forked/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "sources_forked/vim-snippets"]
	path = sources_forked/vim-snippets
	url = https://github.com/honza/vim-snippets.git
