[submodule "sources_forked/YouCompleteMe"]
	path = sources_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_forked/UltiSnips"]
	path = sources_forked/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
